<div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog modal-lg"><!-- modal-lg biar agak lebar -->
      <div class="modal-content">

         <div class="modal-header">
            <h4 class="modal-title">Insert {{ cardtitle }}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>

         <div class="modal-body modal-body-scroll">
            <form action="{{ url_for(insertaccount) }}" method="POST" enctype="multipart/form-data">
               {{ form.hidden_tag() }}

               {% for data_item in data_list %}
                 <div class="form-group {{ data_item.class or '' }}">
                   <label>{{ data_item.label }}:</label>

                   {% if data_item.input_type == "select" %}
                     <select class="form-control" 
                             name="{{ data_item.name }}" 
                             id="{{ data_item.name }}">
                       {% for option_label, option_value in data_item.options %}
                         <option value="{{ option_value }}">{{ option_label }}</option>
                       {% endfor %}
                     </select>

                   {% elif data_item.input_type == "file" %}
                     <input type="file" class="form-control" name="{{ data_item.name }}" accept="{{ data_item.accept|default('') }}">

                   {% elif data_item.input_type == "textarea" %}
                     <textarea class="form-control slim-textarea" 
                               name="{{ data_item.name }}" 
                               rows="2"></textarea>

                   {% else %}
                     <input type="{{ data_item.input_type }}" 
                            class="form-control" 
                            name="{{ data_item.name }}">
                   {% endif %}
                 </div>
               {% endfor %}

               <div class="form-group">
                  <button class="btn btn-success" type="submit">Insert Data</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
