<body>
<div class="main">
  <div class="signup">

    <!-- Form Login Manual -->
    <form method="POST" action="{{ url_for('index') }}">
      <div class="logo-container">
        <img src="{{ ICONIMAGES }}" alt="logo" width="80">
      </div>

      <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>

      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>

      <button type="submit" name="submit_login" class="btn-login">
        <i class="fa fa-sign-in-alt"></i> Masuk
      </button>
    </form>
<br>
 

<script>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        Swal.fire({
          icon: "{{ category }}",
          title: "{{ message }}",
          timer: 3000,
          showConfirmButton: false
        });
      {% endfor %}
    {% endif %}
  {% endwith %}
</script>




</body>
</html>